<form>
    <div class="login-card">
        <div class="title">
            <h4>Login</h4>
        </div>
        <div class="contain">
            <div class="input-box">
                <label for="username">Username</label>
                <input id="username" placeholder="john01" type="text">
            </div>
            <div class="input-box">
                <label for="password">Password</label>
                <input id="password" type="password">
            </div>
            <div class="input-box">
                <button class="btn" id="login-btn">Log In</button>
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
</form>
<script src="/js/login.js"></script>